# Terraform
terraform/.terraform/
terraform/*.tfplan
terraform/.lambda_zips/

# Node
node_modules/
lambda/node_modules/
lambda/update-order-items/node_modules/
# Build artifacts
lambda/*.zip

# OS
.DS_Store